torch
torchvision 
pandas 
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask==3.0.0
Flask-Uploads==0.2.1
Flask-Cors==3.0.10
werkzeug==3.0.1
scikit-learn